@charset "utf-8";

.acfbcs__field-wrapper {
  .field-wrapper__button {
    display: flex;
    gap: 5px;
    align-items: center;

    svg {
      width: 16px;
      height: 16px;
      fill: currentColor;
    }
  }
}

.acfbcs__popup {
  .scanner-wrapper__scanner {
    display: grid;
    gap: 10px;
  }

  .scanner__video-wrapper {
    position: relative;
    max-width: 100%;
    aspect-ratio: 3/4;

    .polygon-wrapper,
    .camera {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .polygon-wrapper {
      z-index: 999;
    }

    .barcode-polygon {
      stroke-width: 1;
      stroke: rgba(85, 240, 40, 1);
      fill: rgba(85, 240, 40, 0.5);
    }
  }
}
